.menu {
    margin-top: 10%;
    text-align: center;
}

.btn {
    background-color: green;
    color: blanchedalmond;
    width: 150px;
    height: 40px;
    border-radius: 15px;
}
.resultado{
    font-size: 80px;
    color: blue;
}
